<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

            body{
                background-color: #3B4CCA;
                color: #FFDE00;
            }
            h1 {
              
                font-size: 70px;
                font-weight: bold;
                margin-bottom: 10px;
                font-family: 'Press Start 2P', cursive;
            }
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
            }
            .container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-flow: row wrap;
                
            }
            .name {
                text-align: center;
                font-family: 'Press Start 2P';
                font-size: 20px;

                
            }
            .image {
                width: 250px;
                height: 250px;
                border-radius: 20%;
                box-shadow: 3px 3px 3px 3px #b3a125;

            }
            .buttons {
                display: flex;
                align-items: center;
                flex-flow: row;
                justify-content: center;
                margin-top: 0px;
                height: 70px;
            }
            .edit{
                margin: 10px;
                margin-bottom: 5px;
                background-color: #FF0000;
                width: 106.59px;
                height: 38px

            }
            #create {
                margin-top: 0px;
                margin-bottom: 40px;
                background-color: #FF0000;
            }

            input[type='submit'] {
                background-color: #FF0000;
                margin-top: 45px;
            }
         
         
        </style>
        <div class="title">
        <h1>Pokédex</h1>
        <button onclick="location.href='http://localhost:3000/pokemon/new'" type="button" id="create">
            Create a new Pokemon</button>
            </div>
            <div class="container">
                <% for (let pokemon in pokedex) { %>
                    <div>
                <h3 class="name"><%= pokedex[pokemon].name %></h3>
                
                    <a href="/pokemon/<%=pokemon%>"><img src = "<%= pokedex[pokemon].img %>" class="image"></a>
                    <div class="buttons">
                        <button class="edit" onclick="location.href='http://localhost:3000/pokemon/<%=pokemon%>/edit'" type="button">
                            EDIT</button>
                        <form action="/pokemon/<%=pokemon%>?_method=delete" method="post"><input class="delete" type="submit" value="Delete"></input></form>
                    </div>
                
            </div>
               <% } %>
            </div>
    </body>

</html>