<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <style>
            body {
                background-color: #3B4CCA;
                color: #FFDE00;
            }

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: row;
            }

            .stats {
                width: 300px;
                margin-top: 160px;
                margin-left: 50px;
            }

            li {
                list-style: none;
                margin: 0px;
            }
            img {
                width: 250px;
                height: 250px;
                border-radius: 20%;
                box-shadow: 3px 3px 3px 3px rgb(126, 139, 127);
            }
        </style>


        <div class="container">
            <div>
                <h1>
                    <%= pokeIndex.name %>
                </h1>
                <h3>
                    <%=pokeIndex.id%>
                </h3>
                <h3> Type: <%= pokeIndex.type %>
                </h3>
                <img src="<%= pokeIndex.img %>">


            </div>
            <div class="stats">
                <h3>Stats:</h3>
                <ul>
                    <% for(let element in pokeIndex.stats) { %>
                        <li>
                            <%= element %> : <%= pokeIndex.stats[element] %>
                        </li>
                        <% } %>
                </ul>
            </div>

    </body>

</html>